<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>An eleventy blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css">
    </head>
    <body>
        <a href="/">(home)</a>

        <h1>{{ pageTitle }}</h1>

        {{ content }}

    </body>
</html>